* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#header {
    padding: 25px 0;

    position: fixed;
    width: 100%;

    .left {
        a {
            font-size: 30px;
            color: #fff;
            font-weight: bold;
            transition: .5s;

            &:hover {
                color: #000;
            }
        }
    }

    .right {
        a {
            font-size: 15px;
            color: #fff;
            margin-right: 20px;
position: relative;
            &:hover {
                &::after {
                    
                    transform: scale(1);
                }
            }

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                top: 25px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: .6s;
                transform: scale(0);
            }
        }
    }
}

#phone-header {
    background-color: rgb(22, 22, 105);
    padding: 20px 0;
    font-size: 17px;
    display: none;

    .left {
        a {
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }
    }

    a {
        color: #fff;
    }

    i {
        color: #fff;
    }
}

@media(max-width: 576px) {
    #home {
        a {
            margin-top: 70px;
        }
    }

    #about {
        .left {
            img {
                width: 100%;
            }
        }

        .right {
            width: 100%;
        }
    }

    #header {
        display: none;
    }

    #phone-header {
        display: block;
    }

   
}

@media(max-width: 990px) {
  
    #about {
        .left {
            img {
                width: 100%;
            }
        }

        .right {
            width: 100%;

            P {
                width: 100%;
            }
        }
    }

    #home {
        img {
            width: 100%;
        }
    }

    #header {
        display: none;
    }

    #phone-header {
        display: block;
    }

    #about {

        .left,
        .right {
            width: 100%;
        }
    }

    #project {
        .box {
            width: 100%;
        }
    }
    
}

#home {
    background-color: #6953e3;
    padding: 9rem 5rem;

   

    .left {


        h2 {
            font-size: 60px;
            color: #fff;
            font-weight: bold;
        }

        p {
            font-size: 19px;
            color: rgba(255, 255, 255, 0.829);
        }
    }

    .icon {
        a {
            text-align: center;
            font-size: 15px;
            color: #fff;
            margin-right: 10px;
            transition: .5s;

            &:hover {
                background-color: aqua;
                padding: 4px 5px;
                border-radius: 20px;
            }
        }
    }
}

#services {
    padding: 4rem 0;

    .left {
        padding: 6rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

        h5 {
            font-size: 15px;
            color: aqua;
        }

        h2 {
            font-size: 35px;
            color: rgb(0, 0, 37);
            opacity: .8;
        }

        p {
            color: rgb(158, 158, 158);
            font-size: 18px;
            margin-bottom: 40px;
        }

        a {
            padding: 10px 20px;
            background-color: rgba(128, 0, 128, 0.771);
            color: rgba(255, 255, 255, 0.885);
            border-radius: 50px 50px 50px 0;
            transition: .6s;

            &:hover {
                border-radius: 0px 50px 50px 50px;
            }
        }
    }

    .right {

        .box {
            padding: 20px;
            background-color: rgb(243, 243, 243);
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            transition: .5s;
            border-radius: 9px;

            h4 {
                color: #000;
            }

            &:hover {
                background-color: rgb(42, 173, 225);
                color: #fff;

                i {
                    background-color: #fff;
                }

                p {
                    color: #fff;
                }

                h4 {
                    color: #fff;
                }
            }

            i {
                font-size: 23px;
                background-color: rgb(233, 233, 233);
                border-radius: 100%;
                padding: 20px;
                color: rgb(61, 190, 241);
            }

            h4 {
                font-size: 17px;
            }

            p {
                font-size: 14px;
                color: rgb(74, 73, 73);
                opacity: .8;
            }
        }
    }
}

#project {



    .box {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        img {
            filter: brightness(.5);
            width: 300px;
            height: 100%;
        }

        .txt {
            display: inline-block;
            margin-top: 40px;
            padding: 0rem 4rem;

            span {
                font-size: 50px;
                color: #1fb6fc;
                margin-bottom: 5px;
            }

            p {
                color: #2a3a60;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

#about {
    padding: 5rem 0;

    .right {
        h5 {
            color: rgb(0, 181, 253);
            font-size: 13px;
        }

        h2 {
            font-size: 34px;
            color: rgb(0, 0, 90);
            font-weight: 400;
        }

        p {
            font-size: 15px;
            color: rgb(137, 137, 137);
        }

        a {
            padding: 10px;
            background-color: rgb(0, 181, 253);
            border-radius: 50px 50px 50px 0;
            color: #fff;
            align-items: center;
            font-weight: bold;
            font-size: 15px;
            transition: .6s;

            &:hover {
                border-radius: 0px 50px 50px 50px;
            }
        }
    }
}

.team {
    padding: 5rem 0;

    .top {
        h5 {
            font-size: 15px;
            color: aqua;
        }

        h3 {
            font-size: 35px;
            color: rgb(0, 0, 37);
            opacity: .8;
        }

        p {
            color: rgb(158, 158, 158);
            font-size: 18px;
            margin-bottom: 40px;
        }
    }

    .bottom {
        .box {
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            &:hover {
                .image {
                    ul {
                        opacity: 1;
                    }
                }

                .text {
                    background-color: pink;
                }
            }

            .image {
                ul {
                    position: absolute;
                    transition: .6s;
                    bottom: 6rem;
                    opacity: 0;

                    li {
                        list-style: none;
                        margin-bottom: 15px;

                        a {
                            color: #a641ec;
                            background-color: #eff2ff;
                            padding: 5px 8px;
                            border-radius: 50px;

                            &:hover {
                                background-color: #1fb6fc;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .text {
                transition: .6s;
                text-align: center;
                padding: 20px;

                h3 {
                    font-size: 18px;
                    color: #2a3a60;
                }

                span {
                    font-size: 16px;
                    color: rgb(76, 76, 76);
                }
            }
        }
    }
}


#testimonial {
    padding: 6rem 0;

    .top {
        text-align: center;

        h5 {
            font-size: 14px;
            color: rgb(4, 160, 222);

        }

        h3 {
            color: rgb(1, 1, 44);
            font-size: 40px;
            margin-top: 20px;
        }

        p {
            margin-top: 20px;
            color: rgb(120, 120, 120);
            font-size: 16px;
        }
    }

    .bottom {
        .box {
            padding: 50px 30px;

            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            position: relative;

            i {
                top: -20px;
                position: absolute;
                background-color: rgb(60, 142, 175);
                padding: 20px;
                border-radius: 100%;
                color: #fff;
                font-size: 20px;
                left: 45%;
                margin-top: -70;
            }

            p {
                font-size: 17px;
                color: rgb(48, 48, 48);
            }
        
    

   .boxbottom{
   
   

    .left {
        img {
            border-radius: 100%;
        }
    }
    .right{
        margin-left: 20px;
        p {
            font-size: 15px;
        }
    
        span {
            color: rgb(20, 155, 209);
            font-weight: 400;
            font-size: 16px;
            
        }
    }
}
}
    }
}
#choose{
    padding: 6rem 0;
    position: relative;
   .overlay{
position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    background: linear-gradient(45deg,#553be6 0%,#a87ffa 100%);
    opacity: 1;
    height: 600px;
}
.top{
    span{
        font-size: 14px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.866);
    }
        h3{
            font-size: 37px;
            color: #fff;
            font-weight: 600;
            margin-top: 20px;
        }
        p{
            font-size: 16px;
color: rgb(229, 229, 229);
margin-top: 20px;
        }
    }
    .bottom{
        
        margin-top: 40px;
        .box{
            background-color: #fff;
            padding: 30px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
           border-radius: 9px;
           transition: .6s;
           &:hover{
            background-color: #0d6efd;
            i{
                background-color: #fff;
                color: #0d6efd;
            }
            .text{
                h5,p{
                    color: #fff;
                }
            }
           }
            i{
                background-color: rgb(19, 161, 216);
                padding: 20px;
                border-radius: 100%;
                font-size: 28px;
                color: #fff;
                transition: .6s;
            }
            h5{
                color: #0f2047;
                font-size: 24px;
                margin-top: 20px;
            }
            p{
                color: rgb(107, 107, 107);
                margin-top: 20px;
                font-size: 16px;
            }
        }
    }
    .last{
        padding: 40px;
        text-align: center;
       margin-top: 70px;
       span{
        font-size: 18px;
        color: rgb(99, 99, 99);
    }
    }
}
#portfolio{
    padding: 5rem;
    .top{
        h5 {
            font-size: 14px;
            color: rgb(4, 160, 222);

        }

        h3 {
            color: rgb(1, 1, 44);
            font-size: 40px;
            margin-top: 20px;
        }

        p {
            margin-top: 20px;
            color: rgb(120, 120, 120);
            font-size: 16px;
        }
    }
    .bottom{
        .box{
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
       border-radius: 10px;
       &:hover{
        .txt{
            background-color: rgb(168, 216, 235);
            span{
                background-color: rgb(67, 167, 206);
                padding: 5px;
                color: #fff;
                border-radius: 7px;
            }
        }
       }
            .image{
        img{
            width: 100%;
            height: 300px;
            border-radius: 4px;
            display: block;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
        }
       } 
       .txt{
        transition: .6s;
padding: 20px 10px ;
span{
    transition: .6s;
    color: rgb(120, 120, 120);
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
}
h6{
    font-size: 20px;
    color: #0f2047;
    margin-top: 10px;
}
       }
    }
}
.last{
    padding: 40px ;
    a{
       margin-left: 42%;
       color: #0d6efd;
       transition: .6s;
       &:hover{
        color: #000;
       }
    }
    i{
        color: #0d6efd;
        margin-left: 5px;
    }
}
}
#pricing{
    padding: 5rem;
    .top{
       
        h5 {
            font-size: 14px;
            color: rgb(4, 160, 222);

        }

        h3 {
            color: rgb(1, 1, 44);
            font-size: 40px;
            margin-top: 20px;
        }

        p {
            margin-top: 20px;
            color: rgb(120, 120, 120);
            font-size: 16px;
        }
    }
    .bottom{
        
        .box{
            padding: 50px 30px;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            .box-top{
                
                span{
                    
                    font-size: 24px;
                    color: rgb(134, 134, 134);
                    margin-right: 5px;
                }
                h6{
                    
                    font-size: 38px;
                    color: #0d6efd;
                }
            }
            h5{
               text-align: center;
                font-size: 15px;
                color: #172647dd;
                margin-top: 5px;
            }
        }
        .box-bottom{
            .part{
                i{
                    font-size: 15px;
                    color: #0d6efd;
                    margin-right: 8px;
                }
                span{
                    font-size: 20px;
                    color: rgb(147, 147, 147);
                }
            }
        }
        a{
            border-radius: 50px 50px 50px 0;
            padding: 20px;
            background-color: #0d6efd;
            color: #fff;
            margin-top: 70px;
            margin-left: 50px;
            transition: .6s;
            &:hover{
                border-radius: 0 50px 50px 50px;
            }
        }
    }
    
}
.blog{
   padding: 4rem 0;
    .top{
        h4 {
            font-size: 14px;
            color: rgb(4, 160, 222);

        }

        h2 {
            color: rgb(1, 1, 44);
            font-size: 40px;
            margin-top: 20px;
        }

        p {
            margin-top: 20px;
            color: rgb(120, 120, 120);
            font-size: 16px;
        }
    }
    .bottom{
        .box{
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            .image{
                a{
                img{
                    width: 100%;
                    height: 240px;
                    border-radius: 4px;
                    display: block;
                    background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
                }
            }
               } 
               .text{

                padding: 20px;
                h5{
                    margin-top: 10px;
                    font-size: 20px;
                    font-weight: bold;
                    transition: .5s;
                    &:hover{
                        color: #0d6efd;
                    }
                }
                .text-bottom{
                    margin-top: 10px;
                    span{
                        font-size: 14px;
                        margin-right: 20px;
                        color: rgb(135, 135, 135);
                    }
                    a{
                        font-size: 13px;
                        color: #0d6efd;
                        font-weight: bold;

                    }
                }
               }
        }
    }
}
#stay{
    padding: 40px ;
    background-color: #0d6efd;
    .left{
        margin-left: 150px;
        h5{
            font-size: 22px;
            color: #fff;
            font-weight: bold;
        }
        span{
            font-size: 17px;
            color: rgb(171, 171, 171);
            font-weight: 400;
        }
    }
    .right{
        .inp{
            background-color: transparent;
            outline: none;
             border: none;
             border-bottom: 2px solid #fff;
             width: 80%;
             height: 40px;
             
             &::placeholder{
                 color: #fff;
             }
         }
         i{
             color: #fff;
             position: absolute;
             right: 70px;
             top: 11px;
         }
    }
}
#unbrew{
    background-color: rgb(216, 216, 216);
   padding: 5rem 0;
    .box{
        margin-top: 30px;
      
        span{
            font-size: 20px;
            color: #0d6efd;
            font-weight: bold;
        }
        p{
            margin-top: 30px;
            color: gray;
        }
        .icon{
            i{
                padding: 15px;
                border: 1.4px solid #0d6efd;
                color: #0d6efd;
border-radius: 5px;
margin-right: 10px;
            }
        }
    }
    .explore{
        margin-left: 30px;
        h5{
            margin-top: 20px;
            color: #0f2047;
        }
        .work{
            
            margin-top: 17px;
            color: rgb(106, 106, 106);
            transition: .6s;
            &:hover{
                color: #0d6efd;
            }
            
        
    }
}
.question{
    h5{
        margin-top: 20px;
        color: #0f2047;
    }
    .bottom{
        i{
            font-size: 20px;
            margin-right: 15px;
            color: #0d6efd;
        }
        p{
            margin-top: 17px;
            color: rgb(88, 88, 88);
        }
    }
}

}
#footer{
    padding: 30px;
    background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
    p{
        text-align: center;
        color: rgb(171, 171, 171);
        margin-top: 15px;
        a{
            color: #0d6efd;
        }
    }
}